<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet/less" href="/style.less">
	<script src="/less.js"></script>
	<script src="/jquery-1.11.1.min.js"></script>
</head>
<body>
	<header>
		<div class="wrapper">
			<img src="/gfx/logo.png">
			<span>Twitter Clone</span>
		</div>
	</header>
	<div id="content">
		<div>
			<!-- display the error message here -->
			<div id="message"></div>

			<hr class="top-10" />

			<div><form action="/validate" id="validate">
			<div><label class="control-label res-clabel" for="user">User</label>
			<div><input id="user" type="text" name="user"/></div>
			</div>
			<div><label for="pass">Password</label>
			<div><input id="pass" type="password" name="pass" /></div>
			</div>
			<button type="submit" >Sign in</button>
			 
			</form>
		</div>
	</div>
<script>
$( "#validate" ).submit(function( event ) {
 
  // Stop form from submitting normally
  event.preventDefault();
 
  // Get some values from elements on the page:
  var $form = $( this ),
    username = $form.find( "input[name='user']" ).val(),
    password = $form.find( "input[name='pass']" ).val(),
    url = $form.attr( "action" );

  // Send the data using post
  var posting = $.post( url, { username: username, password: password });
 
  // Put the results in a div
  posting.done(function( o ) {
      window.location.replace(o.url);
  })
  .fail(function( h ) {
    $( 'input').val('');
    if (username != '' && password != '') {
        // Show error message specifying the cause of error (wrong username or password)
        $( "#message" ).empty().append('ERROR: Wrong username or password').css('color', 'red');
    }
    else {
        // Show error message specifying the cause of error (either username or password, or both are empty)
        $( "#message" ).empty().append('ERROR: All fields must be filled').css('color', 'red');
   }
  });
});
</script>
	<footer>
		<div class="wrapper">
			A Twitter Clone by Cristina Luengo Agullo
		</div>
	</footer>
</body>
</html>
